{% extends 'base.html' %}
{% block title %}  Документ баракчасы {% endblock %}
{% block content %}
    {% include 'child/header.html' %}
    <div class="container pt-5">
        <div class="row justify-content-between align-items-start">
            <div class="col-3 rounded border overflow-hidden p-0">
                {% include 'left-menu.html' %}
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row gap-2 mb-5 pb-5">
                        <div class="bg-danger rounded text-white col-12">
                            <h5 class="p-3">
                                <i class="fa fa-book"></i>
                                Мугалимдин документтери
                            </h5>
                        </div>
                        {% for i in teacherDoc %}
                            <div class="col-12 border rounded overflow-hidden p-4">
                                <div class="bg-light p-2">
                                    <h5>
                                        {{ i.title }}
                                    </h5>
                                </div>
                                <div class="bg-light p-2">
                                    <span>
                                        {{ i.description }}
                                    </span>
                                    <div class="d-flex py-2 justify-content-between align-items-center">
                                        <div>
                                            <i class="fa fa-file text-secondary"></i>
                                            <b>
                                                <a href="{{ i.doc.url }}" target="_blank"
                                                   class="text-secondary">
                                                    Документ
                                                </a>
                                            </b>
                                        </div>
                                        <div>
                                            <i class="fa fa-clock text-secondary"></i>
                                            <span>
                                                {{ i.created_at }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        leftMenu(2);
    </script>   
{% endblock %}